@{
    ViewBag.Title = "Home Page";
     Layout = "~/Views/Shared/_IndexLayout.cshtml";
}


<header id="home-section">

    <div class="dark-overlay">
        <div class="home-inner container">
            <div class="row">
                <div class="col-lg-8 d-none d-lg-block">
                    <h1 class="display-4">
                        Share your
                        <strong>coding idea</strong> and make it
                        <strong>REAL</strong>
                    </h1>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-lightbulb fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            Share your Idea
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-users fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            Find a team
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-sitemap fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            Organize your Team
                        </div>
                    </div>
                </div>

                @*<div class="col-lg-4">
                        <div class="card bg-primary text-center card-form">
                            <div class="card-body">
                                <h3>Share your idea Today</h3>
                                <p>Please fill out this form to register</p>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-lg" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-lg" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-lg" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-lg" placeholder="Confirm Password">
                                    </div>
                                    <input type="submit" value="Submit" class="btn btn-outline-light btn-block">
                                </form>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</header>

<!-- WHAT THE APP DO -->
<section id="explore-head-section">
    <div class="container">
        <div class="row">
            <div class="col text-center py-5">
                <h1 class="display-4"> WHAT THE APP DO</h1>
                <p class="lead"> WHAT THE APP DO  WHAT THE APP DO  WHAT THE APP DO  WHAT THE APP DO WHAT THE APP DO WHAT THE APP DO</p>
            </div>
        </div>
    </div>
</section>

<!-- WHAT THE APP DO PART 2 AND ABOUT US ???? -->
<section id="explore-section" class="bg-light text-muted py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/Images/homepagev2.png" alt="" class="img-fluid mb-3 rounded-circle">
            </div>
            <div class="col-md-6">
                <h3>WHAT THE APP DO PART 2 AND ABOUT US ????</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore reiciendis, voluptate at alias laborum odit aliquid
                    tempore perspiciatis repudiandae hic?
                </p>
                <div class="d-flex">
                    <div class="p-4 align-self-start">
                        <i class="fas fa-check fa-2x"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi distinctio iusto, perspiciatis mollitia natus harum?
                    </div>
                </div>
                <div class="d-flex">
                    <div class="p-4 align-self-start">
                        <i class="fas fa-check fa-2x"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi distinctio iusto, perspiciatis mollitia natus harum?
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

