@model IdeasIntoCodeFirstVersion.ViewModels.MyProjectViewModel
@{
    ViewBag.Title = "MyProject";
}

<h2>MyProjects</h2>

<h2>Project Owned</h2>

@foreach (var myproject in Model.MyProjects)
{
    <li>@Html.ActionLink(myproject.Title, "ProjectProfile", "Project", new {  }, null)</li>
}

<h2>Project  Participating</h2>
@foreach (var project in Model.ProjectParticipates)
{
    <li>@Html.ActionLink(project.Title, "ProjectProfile", "Project", new { }, null)</li>
}


